*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

button {
  background: none;
  border: none;
}

input {
  border: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fafbff;
  min-height: 100vh;
  height: 100vh;
  font-size: 1.6rem;
  font-family: "Ubuntu", sans-serif;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #d6d9e6;
}

.main .steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 3em 2em 6em;
  width: 100%;
  background-image: url(./../assets/images/bg-sidebar-mobile.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main .steps-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12em;
}

.main .steps .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2em;
  height: 2em;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: 2px solid white;
  font-weight: 500;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main .steps .step__digit, .main .steps .step__name {
  display: none;
}

.main .steps .step:hover {
  cursor: pointer;
  background-color: #adbeff;
  border: 2px solid #adbeff;
  color: black;
}

.main .mobile {
  display: none;
}

.main .info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  width: 90%;
  max-width: 25em;
  -webkit-transform: translateY(-3em);
          transform: translateY(-3em);
  background-color: white;
  border-radius: 10px;
}

.main .info-box .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .info-box .info__heading {
  font-size: 3rem;
  font-weight: 500;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.main .info-box .info__provide {
  padding: 1em 0;
  font-size: 1.6rem;
  color: #9699ab;
}

.main .info-box .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
}

.main .info-box .form__label {
  margin-bottom: 0.2em;
}

.main .info-box .form__input {
  margin-bottom: 1.5em;
  padding: 0.8em;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #9699ab;
}

.desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2em;
}

.desktop .btn-next {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.btn-next {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding: 1em 1.5em;
  width: 8em;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  font-weight: 500;
  color: white;
  background-color: #02295a;
  cursor: pointer;
}

.btn-next:hover {
  background-color: #033777;
}

@media (min-width: 768px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #d6d9e6;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1em;
    border-radius: 10px;
    background-color: white;
    width: 50%;
  }
  .main .steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 40em;
    border-radius: 10px;
    background-image: url(./../assets/images/bg-sidebar-desktop.svg);
    width: 35%;
  }
  .main .steps-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2em;
  }
  .main .steps-box .step {
    width: 40px;
    height: 40px;
  }
  .main .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-transform: translateY(8em);
            transform: translateY(8em);
  }
  .main .info-box {
    margin: 0 auto;
    max-width: 35em;
  }
  .main .info-box .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main .info-box .info__heading {
    font-size: 4rem;
  }
  .main .info-box .info__provide {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .main .form {
    gap: 0.5em;
  }
  .desktop {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */