@import "./base/reset";
@import "./sass-utils/helpers";
@import "./sass-utils/variables";

html {
	font-size: 62.5%;
}

body {
	background-color: $alabaster;
	min-height: 100vh;
	height: 100vh;
	font-size: 1.6rem;
	font-family: "Ubuntu", sans-serif;
}

.main {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: $light-gray;

	.steps {
		display: flex;
		justify-content: space-evenly;
		padding: 3em 2em 6em;
		width: 100%;
		background-image: url(./../assets/images/bg-sidebar-mobile.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		&-box {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 12em;
		}

		.step {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 2em;
			height: 2em;
			background-color: rgba($white, 0);
			color: $white;
			border: 2px solid $white;
			font-weight: 500;
			border-radius: 50%;
			transition: 0.3s;
			&__digit,
			&__name {
				display: none;
			}

			&:hover {
				cursor: pointer;
				background-color: $pastel-blue;
				border: 2px solid $pastel-blue;
				color: $black;
			}
		}

		.step-active {
			cursor: pointer;
			background-color: $pastel-blue;
			border: 2px solid $pastel-blue;
			color: $black;
		}
	}

	.mobile {
		display: none;
	}

	.info-box {
		display: flex;
		flex-direction: column;
		padding: 2em;
		width: 90%;
		max-width: 25em;
		transform: translateY(-3em);
		background-color: $white;
		border-radius: 10px;

		.info {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			&__heading {
				font-size: 3rem;
				font-weight: 500;
				align-self: flex-start;
			}

			&__provide {
				padding: 1em 0;
				font-size: 1.6rem;
				color: $cool-gray;
			}
		}

		.form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-self: flex-start;
			width: 100%;

			&-input-upper {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 0.1em;
			}

			&__error {
				display: none;
				color: $strawberry-red;
				align-self: flex-end;
				font-size: 1.2rem;
				font-weight: 700;

				&-active {
					display: flex;
				}
			}

			&__input {
				padding: 1em 0.8em;
				margin-bottom: 1.5em;
				width: 100%;
				border-radius: 4px;
				font-weight: bold;
				border: 1px solid $cool-gray;

				&-error {
					border: 1px solid $strawberry-red;
				}
			}
		}
	}

	.plan-buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 1em;
		margin: 0.5em 0;

		.plan-button {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding: 1em;
			width: 100%;
			border-radius: 10px;
			border: 1px solid $light-gray;
			cursor: pointer;
			transition: color 0.3s, border 0.3s;
			&-text {
				display: flex;
				flex-direction: column;
				gap: 0.4em;
				margin-left: 0.8em;
				text-align: left;

				&__option {
					font-size: 1.4rem;
					font-weight: 700;
					color: $marine-blue;
				}

				&__price {
					color: $cool-gray;
				}

				&__time {
					font-size: 1.2rem;
					font-weight: 500;
					color: $marine-blue;
					font-weight: bold;
				}
			}

			&:hover {
				background-color: $magnolia;
				border: 1px solid $purplish-blue;
			}

			&:focus {
				background-color: $magnolia;
				border: 1px solid $purplish-blue;
			}
		}
	}

	.plan-term {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1em;
		padding: 1em;
		margin-top: 1.5em;
		background-color: rgba($light-gray, 0.4);
		border-radius: 10px;

		&__toggle {
			position: relative;
			width: 3em;
			height: 1.5em;
			border-radius: 20px;
			box-shadow: inset 0 0 5px rgba($black, 0.2);
			background-color: $marine-blue;
			cursor: pointer;

			&::before {
				content: "";
				position: absolute;
				height: 1.2em;
				width: 1.2em;
				top: 50%;
				left: 0.2em;
				transform: translateY(-50%);
				border-radius: 20px;
				background-color: $white;
				transition: left 0.3s;
			}

			&:checked::before {
				left: 1.5em;
			}
		}

		&__option {
			font-size: 1.4rem;
			font-weight: 700;
			color: $marine-blue;
		}
	}
}

.desktop {
	display: flex;
	justify-content: space-between;
	padding: 2em;
	.btn-next {
		align-self: flex-start;
	}
}

.btn-next {
	align-self: end;
	padding: 1em 1.5em;
	width: 8em;
	border-radius: 4px;
	transition: background-color 0.3s;
	font-weight: 500;
	color: $white;
	background-color: $marine-blue;
	cursor: pointer;

	&:hover {
		background-color: $marine-blue-hover;
	}
}

.btn-back {
	font-weight: 700;
	color: $cool-gray;
	cursor: pointer;
	transition: color 0.3s;

	&:hover {
		color: $marine-blue;
	}
}

@media (min-width: 768px) {
	body {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $light-gray;
	}

	.main {
		display: flex;
		flex-direction: row;
		padding: 1em;
		width: 80%;
		max-width: 60em;
		border-radius: 10px;
		background-color: $white;

		.steps {
			display: flex;
			justify-content: flex-start;
			height: 40em;
			width: 35%;
			border-radius: 10px;
			background-image: url(./../assets/images/bg-sidebar-desktop.svg);

			&-box {
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				flex-direction: column;
				gap: 3em;

				.step {
					display: flex;
					width: 40px;
					height: 40px;

					&-box {
						display: flex;

						&-next {
							padding: 0.3em 0;
							margin-left: 0.5em;
						}
					}

					&__digit,
					&__name {
						display: block;
						text-transform: uppercase;

						color: $white;
					}

					&__name {
						margin-top: 0.2em;
						font-weight: 500;
					}

					&__digit {
						font-size: 1rem;
					}
				}
			}
		}

		.info-box {
			margin: 0 auto;
			max-width: 35em;

			.info {
				display: flex;
				justify-content: flex-start;
				&__heading {
					font-size: 4rem;
				}

				&__provide {
					align-self: flex-start;
				}
			}
		}

		.form {
			gap: 0.5em;
		}

		.mobile {
			display: flex;
			justify-content: space-between;
			transform: translateY(8em);

			.btn-next {
				align-self: flex-start;
			}
		}

		.plan-buttons {
			display: flex;
			flex-direction: row;

			.plan-button {
				position: relative;
				flex-direction: column;
				height: 12em;

				&__icon {
					width: 3em;
					height: 3em;
					align-self: flex-start;

					img {
						width: 100%;
						height: 100%;
					}
				}

				&-text {
					position: absolute;
					left: 1em;
					bottom: 1em;
					margin-left: 0;
				}
			}
		}
	}
	.desktop {
		display: none;
	}
}
